services:
  db:
    image: postgres:15
    container_name: online_courses_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: online_courses_redis
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: online_courses_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - DATABASE_HOST=db
      - CELERY_BROKER_URL = redis://localhost:6379
      - CELERY_BACKEND_RESULT = redis://localhost:6379

volumes:
  postgres_data:
